body{
	background-image: url("image/Arm.png");
	text-align: center;
	background attachment:fixet;
}


h1{
	color:#3465D5;
	font-family:Cursive;
	font-style:strong;
}

nav{
	float: left;
	z-index: auto;
	position:fixed;
	left: 0;
	top: 70px;
	background-color: rgba(53,53,53,0.7);
	width: 300px;
	height: 200px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	padding: 10px;
	
}


nav a{
	text-decoration: none;
	color:#FFD700;
	font-family: Arial;
	font-size: 20px;
	padding: 10px;
}

nav a:hover{
	color: #FFA99E;
}

hr{
	border-color:#FFA99E;
}

main{
	background-color: rgba(255,169,158,0.7);
	border: 2px solid #FFFFB8;
	border-radius: 20px;
}

main span{
	height: 200px;
	width: 400px;
}


main img{
	position: relative;
	left:400px;
	z-index:5;
	height:150px;
	width:100px;
	border-top-left-radius:40px;
	border-bottom-left-radiust: 40px;
}#countryDiv{
	
	
}


